<form class="form-inline" method="post" action="/">
  <div class="form-group">
    <label for="keyword">Keyword</label>
    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="ruby developer">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" name="location" placeholder="New York, NY">
  </div>
  <button type="submit" class="btn btn-default">Scrape!</button>
</form>

<br />

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <% jobs[0].each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <% jobs[1..-1].each do |job| %>
  <tr>
    <% job.each do |col| %>
      <td><%= col %></td>
    <% end %>
  </tr>
  <% end %>
</table>


<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
